extends layout

block content
    h1= title
    form#formUpdateAlbum(name='updatealbum', method='POST',  action='/albums/updatealbum')
        input#inputAlbumId(type='hidden', name='_id' value=album._id)
        input#inputAlbumName(type='text', placeholder='Album Name' name='albumname' value=album.albumname)
        input#inputArtist(type='text', placeholder='Artist', name='artist' value=album.artist)
        input#inputYear(type='text', placeholder='Year', name='year' value=album.year)
        input#inputGenre(type='text', placeholder='Genre', name='genre' value=album.genre)
        button#btnSubmit.navlink(type='submit') Click to Update
        a.navlink(href='/index') Cancel, Go back home